# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
venv_*/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Data (optional)
*.csv
*.zip
